{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="resume-main">
  <div class="left-box">
    
    <div class="profile">
      <img  style="object-fit:cover; height: 140px; width: 100%;" src="{% static 'images/image.jpg' %}">
    </div>
    <div class="content-box">
    <h3>Profile Info</h3>
    <hr class="hr1">
    <p class="p1">I am looking for an entry level position to start my carrer as a Python Developer.</p>

    <h3>Contact</h3>
    <hr class="hr1">

    <i class="fa fa-envelope-open" aria-hidden="true"></i>
    <p class="p2">rosmithomas212@gmail.com</p>
    <div class="clearfix"></div>
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <p class="p2">7558890150/7994798095</p>
    <i class="fa fa-address-book-o" aria-hidden="true"></i>
    <p class="p2">Karanakodam, Thammanam,
Palarivattom</p>
    <div class="clearfix"></div>
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <a style="text-decoration: none;color: var(--white);font-size: 13px;" href="https://www.linkedin.com/in/rosmithomas-6773b116a/">linkedin.com/in/rosmithomas-6773b116a/</a><br><br>
    <div class="clearfix"></div>
    <i class="fa fa-github" aria-hidden="true"></i>
    <a style="text-decoration: none;color: var(--white);font-size: 13px;" href="https://github.com/ROSMI1995">github.com/ROSMI1995</a>


    <br>
    <h3> Skills</h3>
    <hr class="hr1">
    <div class="clearfix"></div>
    <div class="col-div-6"><p class="p2">PYTHON- DJANGO</p></div>
    <div class="col-div-6">
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle1"></i>
    </div>
    
      <div class="clearfix"></div>
    <div class="col-div-6"><p class="p2">HTML & CSS</p></div>
    <div class="col-div-6">
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle1"></i>
    </div>
      <div class="clearfix"></div>
    <div class="col-div-6"><p class="p2">MYSQL</p></div>
    <div class="col-div-6">
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle1"></i>
      <i class="fa fa-circle circle1"></i>
    </div>
      <div class="clearfix"></div>
    <div class="col-div-6"><p class="p2">JAVASCRIPT</p></div>
    <div class="col-div-6">
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle"></i>
      <i class="fa fa-circle circle1"></i>
      <i class="fa fa-circle circle1"></i>

      
    </div>
    

      
    </div>
  </div>

  <div class="right-box">
    <h1>
      ROSMI<br>
      <span>THOMAS</span>
    </h1>
    <p class="p3">Python - Django Fresher</p>

    <br>  
    <h3 class="heading">Education</h3>
    <hr class="hr2">
    <br>
    <div class="col-div-4">
      <p class="p5">2022</p>
      <span class="span1">S-Technologies, Kakkanad</span>
    </div>
    <div class="col-div-8">
      <p class="p5">SOFTWARE - TRANING</p>
      <span class="span1">PYTHON - DJANGO FULL STACK WEB
DEVELOPMENT</span>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="col-div-4">
      <p class="p5">2014- 2017</p>
      <span class="span1">St. Albert's College, Ernakulam</span>
    </div>
    <div class="col-div-8">
      <p class="p5">BSC.ZOOLGY</p>
      
    </div>
    
    <br/>  
    <br><br><br><br>
    <div class="clearfix"></div>
    <h3 class="heading">Experience</h3>
    <hr class="hr2">
    <br>
    <div class="col-div-4">
      <p class="p5">2022 - present</p>
      <span class="span1">Chillar Payments Solutions PVT. Ltd.</span>
    </div>
    <div class="col-div-8">
      <p  style="font-size: 13px;" class="p5">OPERATION EXECUTIVE</p>
      <span class="span1">Entry and sorting of data to mobile & web
application backend.<br>
Generating reports using backend data, etc</span>
    </div>
    

</body>
</html>